@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, html{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    /*--scroll-behavior: smooth;--*/
}

h1{
    color: red;
}

.parallax {
 
  background-image: url("../images/create.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.parallax2 {
 
  background-image: url('../images/yellow.jpg');
  height: 60%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 {
 
  background-image: url('../images/colors.jpg');
  height: 60%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax4 {
 
  background-image: url('../images/purple.jpg');
  height: 70%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.scroll2{
    height:400px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

.projects{
    height:500px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

.footer{
    height:150px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

#date{
    margin: 0;
    padding: 8px;
    float: right;
}

.cardproject{
    overflow: hidden;
}


.card{
    border: none;
    border-radius: 0;
}

p{
    margin: 0;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  background-color: slategrey;
  outline: none;
}

input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  background-color: slategrey;
  outline: none;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  background-color: slategrey;
  resize: none;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #212529;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #212529;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #212529;
}

@media screen and (max-width: 768px) {
  textarea, input[type=email], input[type=text] {
    width: 100%;
  }
}

button{
    background-color: slategrey;
    outline: none;
    border: none;
}

#totop{
    color: red;
}

#totop:hover{
    color: green;
    transition: color 0.5s ease-in-out;
}

a{
    color: purple;
}

a:hover{
    color: rgb(255, 8, 0);
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

#send:hover{
    color: whitesmoke;
    transition: color 0.5s ease-in-out;
    border: none;
}

#clear:hover{
    color:  whitesmoke;
    transition: color 0.5s ease-in-out;
    border: none
}

img{
    background-position:fixed; 
    background-size: cover; 
    background-repeat: no-repeat;  
}