*{
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, html{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

#date{
    margin: 0;
    padding: 8px;
    float: right;
}

/*--------------------------------background images section-------------------------*/
.parallax {
    background-image: url("../images/create.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url('../images/yellow.jpg');
    height: 60%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url('../images/colors.jpg');
    height: 60%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------project section-------------------------*/
.projects{
    height:500px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
    display: table-header-group;  /*this line to display projects in mobile view*/
}

.cardproject{
    overflow: hidden;
}

.card{
    border: none;
    border-radius: 0;
}

p{
    margin: 0;
}

a{
    color: rgb(184, 32, 163);
}

a:hover{
    color:  rgb(228, 6, 54);
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

img{
    min-height: -webkit-fill-available;
}

/* media to handle smaller pictures on larger screens*/
@media screen and (min-width: 1200px) {
  .card-img, .card-img-bottom, .card-img-top {
    flex-shrink: initial;
    width: 100%;
    }
}

.pics{
    padding: 0;
}

/*hide purple computer on smaller screens*/
@media screen and (max-width: 768px) {
    #purpleComputer{
        display: none;
  }
}

.card-text{
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/*--------------------------------contact section-------------------------*/
.contactArea{
    height:460px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

input[type=text],input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: slategrey;
    outline: none;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: slategrey;
    resize: none;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #212529;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #212529;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #212529;
}

/*media to handle resizing of contact section*/
@media screen and (max-width: 768px) {
    textarea, input[type=email], input[type=text] {
        width: 90%;
  }
}

@media screen and (max-width: 768px) {
    .contactArea{
        position: relative;
  }
}

button{
    background-color: slategrey;
    outline: none;
    border: none;
}

#send:hover, #clear:hover{
    color: whitesmoke;
    transition: color 0.5s ease-in-out;
    border: none;
}

/*--------------------------------footer section-------------------------*/
.footer{
    height:130px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
    padding-top: 1%;
}

.fa, .fas {
    font-weight: 900;
    margin-right: 10px;
   
}

.fab, .far {
    font-weight: 400;
    margin-left: 10px;
}

#totop{
    color:  rgb(206, 21, 181);
}

#totop:hover{
    color: green;
    transition: color 0.5s ease-in-out;
}