@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, html{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

h1{
    color: red;
}

.parallax {
 
  background-image: url("../images/create.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.parallax2 {
 
  background-image: url('../images/yellow.jpg');
  height: 60%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 {
 
  background-image: url('../images/colors.jpg');
  height: 60%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax4 {
 
  background-image: url('../images/purple.jpg');
  height: 70%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.scroll2{
    height:500px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

.projects{
    height:500px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

.scroll3{
    height:400px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}

.footer{
    height:200px;
    background-color:slategrey;
    font-size:20px;
    text-align:center;
}


#date{
    margin: 0;
    padding: 8px;
    float: right;
}